section, header, footer {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}
*{
    user-select: auto;
}
body {
    /* width: 100dvw; */
    height:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
p{
    font-weight: 400;
    color:rgb(107 114 128)
}
html, body{
    overflow-x:hidden;
    min-height:100%;
}
.nav-height{
    height: calc(100vh - 60px);
}

input[type="search" i]::-webkit-search-cancel-button {
    display: none;
}

.scrollable-container{
    cursor: grab;
}

.scrollable-container.active {
    cursor: grabbing;
  }
  
  .scrollable-container::-webkit-scrollbar {
    display: none; 
  }
.q-common{
    /* GRAY */
    border-bottom: 2px solid rgba(230, 226, 255, 0.5);
    background: none;
    :hover{
        background: linear-gradient(180deg, rgba(15,15,15,0.1), rgba(230, 226, 255, 0.1));
    }
}
.q-epic{
    /* PURPLE */
    border-bottom: 3px solid rgb(87, 62, 211);
    background: linear-gradient(rgba(15,15,15,0.1) 50%, rgba(87, 62, 211,0.2));

    :hover{
        background: linear-gradient(rgba(15,15,15,0.1), rgba(87, 62, 211,0.2));
    }
}
.q-legendary{ 
    /* YELLOW */
    border-bottom: 2px solid rgba(211, 177, 62, 1);
    background: linear-gradient(rgba(15,15,15,0.1) 50%, rgba(211, 154, 62,0.2));
    :hover{
        background: linear-gradient(rgba(15,15,15,0.1), rgba(211, 154, 62,0.2));
    }
}
.q-mythical{
    /* RED */
    border-bottom: 2px solid rgb(211, 62, 62);
    background: linear-gradient(rgba(15,15,15,0.1) 50%, rgba(211, 62, 62,0.2));
    :hover{
        background: linear-gradient(rgba(15,15,15,0.1), rgba(211, 62, 62,0.2));
    }
}
.q-rare{
    /* BLUE */
    border-bottom: 2px solid rgb(87, 62, 211);
    background: linear-gradient(rgba(15,15,15,0.1) 50%, rgba(87, 62, 211,0.2));
    :hover{
        background: linear-gradient(rgba(15,15,15,0.1), rgba(87, 62, 211,0.2));
    }
}
.container-secondary{
    background: -webkit-linear-gradient(45deg, rgba(19, 18, 31, 1) 0%, rgba(10,11,15) 50%, rgba(19, 18, 31, 1) 100%);
    background-origin: border-box;
    color: rgba(245,245,255);
    input{
        background-color: transparent;
        border-color: rgba(250,250,255,0.1);
    }
}
.card-secondary{
    border: double 2px transparent;
    background-image: linear-gradient(135deg, rgba(41,38,65,0.25) 0%, rgba(10,11,15,0.25) 50%, rgba(41,38,65,0.25) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background: linear-gradient(135deg, rgba(41,38,65,0.25) 0%, rgba(10,11,15,0.25) 50%, rgba(41,38,65,0.25) 100%);
}
.text-highlighted{  
    /* background: -webkit-linear-gradient(45deg,rgba(90,44,125,1) 0%, rgba(199,144,255,1) 25%, rgba(97,71,255,1) 100%); */
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

         
.btn-gradient {
    background-image: linear-gradient(to right, rgba(90,44,125,1) 0%, rgba(199,144,255,1)  51%, rgba(97,71,255,1)  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
  }

  .btn-gradient:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn-outHlt{
    border: 1px solid rgb(38, 36, 54);
    transition: all ease-in-out 0.5s;
  }
 
  .btn-outHlt:hover{
    background-color: white;
    color: black
  }